.services-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  color: #333333;
  padding-top: 80px; /* Add padding to account for navbar */
}

.services-container h1 {
  font-size: 36px;
  margin-bottom: 20px;
}
