.about-footer {
    background-color: #DADADA;
    color: #fff;
    padding: 40px 20px;
    font-family: Arial, sans-serif;
    padding-top: 100px;
  }
  
  .footer-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  
  .footer-logo {
    flex: 1 1 200px;
  }
  
  .footer-logo h2 {
    font-size: 24px;
    margin-bottom: 15px;
  }
  
  .social-icons a {
    color: #fff;
    margin-right: 40px;
    font-size: 58px;
    text-decoration: none;
  }
  
  .social-icons a:hover {
    color: #e63946;
  }
  
  .footer-links {
    display: flex;
    flex: 2 1 400px;
    justify-content: space-around;
  }
  
  .link-section h4 {
    font-size: 16px;
    margin-bottom: 15px;
    color: #232323;
  }
  
  .link-section ul {
    list-style: none;
    padding: 0;
  }
  
  .link-section ul li {
    margin-bottom: 10px;
  }
  
  .link-section ul li a {
    color: #706e6e;
    text-decoration: none;
  }
  
  .link-section ul li a:hover {
    color: #232323;
  }
  
  .footer-signup {
    flex: 1 1 200px;
  }
  
  .footer-signup p {
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .signup-btn {
    background-color: #e63946;
    color: #fff;
    border: none;
    padding: 10px 25px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .signup-btn:hover {
    background-color: #c92e3a;
  }
  
  .footer-bottom {
    border-top: 1px solid #444;
    padding-top: 15px;
    text-align: center;
    font-size: 12px;
  }
  
  .bottom-links {
    margin-bottom: 10px;
  }
  
  .bottom-links a {
    color: #999;
    margin: 0 10px;
    text-decoration: none;
  }
  
  .bottom-links a:hover {
    color: #fff;
  }
  .footer-enquiry {
    flex: 1 1 300px;
    color: #fff;
  }
  
  .footer-enquiry h4 {
    margin-bottom: 15px;
    font-size: 18px;
  }
  
  .enquiry-form {
    display: flex;
    flex-direction: column;
  }
  
  .enquiry-form input,
  .enquiry-form textarea {
    margin-bottom: 10px;
    padding: 8px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .enquiry-form textarea {
    resize: vertical;
    height: 80px;
  }
  
  .send-btn {
    background-color: #e63946;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .send-btn:hover {
    background-color: #c92e3a;
  }
  .form-status {
    margin-top: 10px;
    color: #08d958;
    font-size: 20px;
    transition: opacity 0.5s ease;
    opacity: 1;
  }
  