@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
    scroll-behavior: smooth;
}
body{
    background: #f5f5ff;
}
a{
    text-decoration: none;
    color: inherit;
    line-height: 1;
    cursor: pointer;
}
.container{
padding-left: 2.5%;
padding-right: 2.5%;
}
.btn{
    background: #cbc9c9;
    color: #be1919;
    padding: 14px 25px;
    font-size: 20px;
    border-radius: 30px;
    cursor: pointer;
    border: 0;
    outline: 0;
}

/* Global styles for page containers */
.newsroom-container,
.aboutus-container,
.projects-container,
.career-container,
.faq-container {
    padding-top: 100px !important;
}

@media (max-width: 768px) {
    .newsroom-container,
    .aboutus-container,
    .projects-container,
    .career-container,
    .faq-container {
        padding-top: 80px !important;
    }
}